<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>NarutoWebApp</servlet-name>
		<servlet-class>org.naruto.servlet.NarutoWebAppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NarutoWebApp</servlet-name>
		<url-pattern>/narutowebapp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>view/deckBuilder.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>DeckBuilderServlet</servlet-name>
		<servlet-class>org.naruto.servlet.DeckBuilderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeckTesterServlet</servlet-name>
		<servlet-class>org.naruto.servlet.DeckTesterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeckPrinterServlet</servlet-name>
		<servlet-class>org.naruto.servlet.DeckPrinterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadDeckServlet</servlet-name>
		<servlet-class>org.naruto.servlet.UploadDeckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveDeckServlet</servlet-name>
		<servlet-class>org.naruto.servlet.SaveDeckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CardNameCompletion</servlet-name>
		<servlet-class>org.naruto.servlet.CardNameCompletion</servlet-class>
	</servlet>
	
	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>DeckBuilderServlet</servlet-name>
		<url-pattern>deckBuilder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeckBuilderServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeckTesterServlet</servlet-name>
		<url-pattern>deckTester</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeckPrinterServlet</servlet-name>
		<url-pattern>deckPrinter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadDeckServlet</servlet-name>
		<url-pattern>uploadDeck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveDeckServlet</servlet-name>
		<url-pattern>saveDeck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CardNameCompletion</servlet-name>
		<url-pattern>cardNameCompletion</url-pattern>
	</servlet-mapping>
  

</web-app>
